[submodule "electron-src/electron-app"]
	path = electron-src/electron-app
	url = git@github.com:insistime-guides/electron-main.git
[submodule "electron-src/renderer-index"]
	path = electron-src/renderer-index
	url = git@github.com:insistime-guides/electron-renderer-index.git
[submodule "electron-src/renderer-login"]
	path = electron-src/renderer-login
	url = git@github.com:insistime-guides/electron-renderer-login.git
